<div class= "project-log-wrapper">
  <div class= "project-log">
    <h1 class="project-log-header">Projects I own:</h1>
    <% @user.owned_projects.each do |project| %>
      <div class= "project-log-card">
        <p class="project-log-name"><%= project.name %></p>
        <p class="project-log-description">Description: </p>
        <p><%= project.description %></p>
        <div class="chat-section">
            <%= link_to 'View Chat', chatroom_path(project.chatroom), class: "btn btn-lg btn-primary" %>
            </div>
          <p class="participant_project-log-collabs">Collaborators:</p>
          <%project.collaborators.each do |collaboration| %>
          <p class="collab-names"><%= collaboration.full_name %></p>
          <%end %>
        </div>
      <%end %>
    </div>
</div>





<%# <div class = "deleteprojectbutton">
<%= link_to "Delete Project", delete_project_path(current_user), class: "btn btn-lg btn-primary" %>
