
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="user-show-wrapper">
  <div class="user-show-card">


<div class="user-show-card-internal">
    <div class="leftcolumn">
    <% if current_user.photo.attached?%>
          <%= cl_image_tag current_user.photo.key, class: "profilepic", id: "p.p" %>
          <% else %>
            <%= image_tag "User_font_awesome.svg.png", class: "profilepic", id: "p.p"%>
            <% end %>
        <h1><%= @user.full_name%></h1>
          <h3><%=@user.tagline%></h3>
          <div class="skills">
            <h3>Skills:</h3>
            <p><%= @user.skill %></p>
          </div>
          <div class="qualifications">
            <h3>Qualifications:</h3>
            <p><%= @user.education_details %></p>
          </div>
          </div>

    <div class="rightcolumn">
      <div class="bio">
        <h1>Biography:</h1>
          <p><%= @user.bio %></p>
        </div>
        <div class = "userstats">
          <h2>Project Count:</h2>
        </div>
        <div class="projectsowned">
          <h4>Projects I Own:</h4>
          <p><%=link_to @user.owned_projects.count, project_log_path(current_user) %></p>
        </div>
      <div class="projectsinvolved">
        <h4>Projects I am part of:</h4>
        <p><%= link_to @user.projects.count, project_log_path(current_user) %></p>
    </div>
    <div class = "editprofilebutton">
      <%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-lg btn-primary" %>
    </div>
  </div>
  </div>
</div>










<%# <div class="socialmedia">
        <ul>
          <i class="fa-brands fa-linkedin fa-3x"></i>
          <i class="fa-brands fa-square-twitter fa-3x"></i>

        </ul>
      </div> %>
