<div class="userwrapper">
  <div class="left">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp" alt="user" width="100">
    <h4><%= @user.full_name%></h4>
    <p><%=@user.tagline%></p>
</div>

<div class="right">
  <div class="biography">
    <h3>Biography:</h3>
      <div class="textbio">
        <p><%= @user.bio %></p>
        </div>
      </div>
    </div>

<div class="projectoverview">
    <h3>Project Count:</h3>
      <div class="projectsowned">
      <h4>Projects I Own</h4>
        <p><%= @user.owned_projects.count %> </p>
        </div>
        <div class="projectsinvolved">
          <h4>Projects I am part of</h4>
            <p><%= @user.projects.count %></p>
      </div>
    </div>
  </div>
