<a href='/projects/<%=project.id%>'>
<div class="project-index-wrapper">
  <p class='project-header'><%= project.name %></p>

  <div class="index-card-internal">
    <div class="image">
      <% if project.photos.attached? %>
      <%= cl_image_tag project.photos[0].key, width: 550, height: 300, crop: :fill, :gravity=>"faces", :crop=>"thumb", :quality=>"auto", :fetch_format=>:auto, class: "rounded h-100" %>
      <% else %>
      <%= image_tag "background_homepage_image.jpg", width: 550, height: 300, :gravity=>"auto", :crop=>"fill", :quality=>"auto", :fetch_format=>:auto, class: "rounded h-100" %>
      <% end %>
    </div>
    <div class="info">
      <div class="index-desc">
        <%= project.pitch %>
      </div>
      <div class="right-index-internal-card">
        <div class="all-categories">
          Categories:
          <% project.categories.each do |category| %>
            <div class="category-box"><%= category.name %></div>
          <% end %>
        </div>
        <div class="collab-title">
          Collaborators: <%= render 'avatars', collaborators: project.collaborators %>
        </div>
      </div>
    </div>
  </div>
  </div>
</a>
