<<<<<<< HEAD
<<<<<<< HEAD
<div class="container d-flex justify-content-center">
  <div class="feed mt-4">
  <div class="container">
  <div class="row searchbar-wrapper", style= "margin-left :12px">
    <%= form_tag projects_path, method: :get, class: "d-flex justify-content-center" do %>
      <%= select_tag "Category", options_for_select(["Transport", "Education", "Healthcare", "Accountancy", "Sport", "Media", "Construction", "Marketing", "Charity", "Fashion", "Security", "Electronics", "Music"]), class: "form-control fs-6", style: "width:180px; min-height:40px; margin-right:5px", prompt:"Select Category"%>
    <% end %>
  </div>
</div>
=======
=======
>>>>>>> cd8a790b26f0f87ac9db2c1a7feeec2e827f7613
<%= form_with url: projects_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a project"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


<<<<<<< HEAD
<div class = "container justify content-center">
    <div class="mt-4">
>>>>>>> 8b9389d75e9851c15eb3a4f1fa9ee084b9828d56
=======
<div class="container d-flex justify-content-center">
  <div class="feed mt-4">
  <div class="container">
  <div class="row searchbar-wrapper", style= "margin-left :12px">
    <%= form_tag projects_path, method: :get, class: "d-flex justify-content-center" do %>
      <%= select_tag "Category", options_for_select(["Transport", "Education", "Healthcare", "Accountancy", "Sport", "Media", "Construction", "Marketing", "Charity", "Fashion", "Security", "Electronics", "Music"]), class: "form-control fs-6", style: "width:180px; min-height:40px; margin-right:5px", prompt:"Select Category"%>
    <% end %>
  </div>
</div>
>>>>>>> cd8a790b26f0f87ac9db2c1a7feeec2e827f7613
    <%= render @projects %>
  </div>
</div>
