<%= form_with url: projects_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a project"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


<div class = "container justify content-center">
    <div class="mt-4">
    <%= render @projects %>
  </div>
</div>





<%# <div class="container d-grid justify-content-center">
  <div class="container">
    <div class="row gx-4">
      <div class="feed mt-4">
  <%= render @projects %>
