<div class="panel" id="new-project">
  <div class="double-border">
    <p class="form-header">New Project</p>
    <%= simple_form_for(@project) do |f| %>
      <%= f.error_notification %>
      <%= f.input :name, label_html: { class: 'input-erb' } %>
      <%= f.input :description, label_html: { class: 'input-erb' } %>
      <%= f.input :pitch, label_html: { class: 'input-erb' } %>
      <% #select multiple categories %>
      <%= f.association :categories, label_html: { class: 'input-erb' }%>
      <%= f.input :photos, as: :file, input_html: { multiple: true }, hint: "You can upload multiple files at once. Images will be displayed in 3:2 format." %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<%# select_tag "Category", options_for_select %>
