<div class="project-show-wrapper">
  <div class="project-show-card">

  <div class='big-title'>
    <%= @project.name%>
  </div>

<div>


  <section class="image-description">
    <div class="cara">
      <%= render partial: "projects/carousel" if @project.photos.attached? %>
    </div>
    <div class="">
      <div class="pitch">
        <%= @project.pitch %>
      </div>
      <div class="descrip">
        <%= @project.description %>
      </div>
    </div>
  </section>
</div>

  <section class="team-info">

    <div class="team-leader">
      <p class="proj-lead">Project Lead</p>
      <div class="">
        <%= link_to user_path(@project.owner), class: "text-decoration-none" do %>
          <% if @project.owner.photo.attached? %>
            <%= cl_image_tag @project.owner.photo.key, class: "project-lead-image" %>
          <% else %>
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/5.webp" class="project-lead-image" alt="Avatar" />
          <% end %>
          <div class="owner-info">
            <p class="owner_name"><%= @project.owner.full_name %></p>
            <p class='owner-tagline'><%= @project.owner.tagline %></p></p>
            <p class='owner-description'><%= @project.owner.bio %></p>
          </div>
        <% end %>
      </div>
    </div>

  <div class="team-members">
      <p class="team-mem">Team Members (<%= @project.collaborators.count %>)</p>
      <div class="row">
        <% @project.collaborators.each do |collaborator| %>
          <div class="col-6">
            <%= link_to user_path(collaborator), class: "text-decoration-none" do %>
              <div class="d-flex mt-1">
                <div>
                  <% if collaborator.photo.attached? %>
                    <%= cl_image_tag collaborator.photo.key, class: 'avatar' %>
                  <% else %>
                    <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
                  <% end %>
                  </div>
                <div class="collaborator-details">
              <span><%= collaborator.full_name %></span>
              <p class='collaborator-title'><%= collaborator.tagline %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    </div>
    <div class="join">
      <a href="#" class="" data-bs-toggle="modal" data-bs-target="#exampleModal"><div class="join-text">Join the team !</div></a>
    </div>
  </div>

    <%# <div class="chat-section">
    <p class="chat-header">Join the conversation</p>
      <%= link_to 'View Chat', chatroom_path(@project) %>
    </div>
  </section>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <%= simple_form_for [@project, @collaboration_request] do |f| %>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Request to collaborate with <%= @project.owner.full_name %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= f.input :content, placeholder: "Tell #{@project.owner.full_name} why you want to join the team"%>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <%= f.submit "Send request", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
