<div class="container d-flex justify-content-center">

  <div class="feed">
    <div class="w-100 rounded project-image-wrapper">
      <%= image_tag "background_homepage_image", class: 'project-image' %>
    </div>
    <div class="mt-3">
      <h1 class='header-primary'><%= @project.name%></h1>
      <%= @project.description  %>
    </div>
    <div class="mt-3">
      <h3 class="header-secondary">Project lead</h3>
      <%= link_to user_path(@project.owner), class: "text-decoration-none" do %>
        <div class="d-flex">
          <div class="">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/5.webp" class="project-lead-image" alt="Avatar" />
          </div>
          <div class="d-flex flex-column">
            <div class="project-owner-container">
              <span><%= @project.owner.full_name %></span>
              <p class='owner-title'>Ux designer</p>
              <p class='owner-description'>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="mt-3">
      <h3 class="header-secondary">Team Members (<%= @project.collaborators.count %>)</h3>
      <div class="row">
        <% @project.collaborators.each do |collaborator| %>
            <div class="col-6">
              <%= link_to user_path(collaborator), class: "text-decoration-none" do %>
                <div class="d-flex">
                  <div>
                    <% if collaborator.image.attached? %>
                      <%= cl_image_tag project.photo.key, class: 'avatar' %>
                    <% else %>
                      <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
                    <% end %>
                  </div>
                  <div class="collaborator-details">
                    <span><%= collaborator.full_name %></span>
                    <p class='collaborator-title'>Ux designer</p>
                  </div>
                </div>
              <% end %>
            </div>
        <% end %>
      </div>
      <div class="d-flex">
        <a href="#" class="btn btn-primary">Join the team !</a>
      </div>
    </div>

  </div>
</div>
