
<div class= "collab-request-wrapper">
  <div class= "collab-request-card">
    <div class="m-5">
    <h1 class="display-6">Collaboration Requests</h1>

    <h2 class="request-sent">Requests I have sent:</h2>


      <% current_user.collaboration_requests_as_requester.each do |collaboration_request| %>
      <div class="collab-card">
      <h3 class="inside-info">Project name: <%= link_to collaboration_request.project.name, project_path(collaboration_request.project) %></h3>
      <h3 class="inside-info">  Owned by: <%= link_to collaboration_request.project.owner.full_name, user_path(collaboration_request.project.owner) %></h3>
      <h3 class="inside-info">  Status: <%= collaboration_request.status %></h3>
        </div>
      <% end %>


    <h2 class="request-recieved">Requests I have received:</h2>

    <% current_user.collaboration_requests_on_projects_owned.each do |collaboration_request| %>
    <div class="collab-card">
        <h3 class="inside-info">Project name: <%= link_to collaboration_request.project.name, project_path(collaboration_request.project) %></h3>
        <div>
        <h3 class="inside-info"> Requested by: <%= link_to collaboration_request.requester.first_name, user_path(collaboration_request.requester.id)%></h3>
        </div>
        <h3 class="inside-info">Message: <%= collaboration_request.content %></h3>
        <div>
        <h3 class="inside-info">Status: <%= collaboration_request.status%></h3>
        </div>
        <div class="acceptance-card d-flex">
          <div class="accept-btn">
            <%= button_to "Accept", accept_collaboration_path(collaboration_request.id), class: "accept-button", data: { 'turbo-method' => :post }  %>
          </div>
          <div class="decline-btn ms-2">
            <%= button_to "Decline", decline_collaboration_path(collaboration_request.id), class: "decline-button", data: { 'turbo-method' => :post }  %>
          </div>
        </div>
    </div>
    <% end %>
  </div>
</div>





<%# status of the request %>
  <%# link to the show of the project the name of the project %>
  <%# link to the show of the project owner %>
  <%# my message %>


<%# <%= link_to user_path(collaborator %>



<%# collaboration requests ive received %>

<%# status of the request %>
<%# link to the show of the project name  %>
<%# link to the show of the requester %>
<%# message of the requester %>
<%# accept/decline buttons %>

<%# Owned by: <%= link_to collaboration_request.project.owner.full_name, user_path(collaboration_request.project.owner)%>
</div>
